body {
    margin: 0px;
}

#main-container {
    
    .sub-container {
        scroll-behavior: smooth;
    }

    .header {
        width: 100%;
        min-height: 60px;
        display: block;
        position: relative;

        .left-content {
            display: inline;
            position: absolute;
            margin: 1vh;
            margin-bottom: 1vh;
            margin-left: 1.3vw;
            margin-top: 1.5vh;

            img {
                // max-width: 400px;
                // min-height: 60px;
                width: auto;
                height: auto;

            }
        }

        .logoText{
            display: inline;
            position: absolute;
            margin: 1vh;
            margin-bottom: 1vh; 
            margin-left: 4.5vw;
            margin-top: 1vh;

            p {
                font-family: 'Lato', sans-serif;
                font-size: 2.1vh;
                color: rgb(33, 33, 93);
            }
        }
        .right-content {
            display: inline;
            position: absolute;
            right: 30px;
            top: 15px;

            .nav-items {
                display: block;

                li {
                    display: inline;
                    margin-left: 15px;
                    font-family: 'Muli', sans-serif;
                    cursor: pointer;
                    font-weight: bold;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

    .section1 {
        position: relative;
        margin-top: 10px;
        height: 118vh;
        width: 100%;
        
        // THIVIN -- Changing to PNG
        // background-image: url("../asset_files/Base1.png") ;
        // background-repeat: no-repeat;
        // background-image: linear-gradient(to right, #d23174 , #f34938);
        // border-bottom-left-radius: 50%;
        // border-bottom-right-radius: 50%;

        .center-text {
            position: absolute;
            top: 6%;
            left: 28%;
            color: WHITE;
            font-size: 3vw;
            font-family: 'Muli', sans-serif;
        }

        svg path
        {
            fill: url(#my-cool-gradient1);
        }

        path { transition: fill 1s ease; }

        .sec1-img {
            position: absolute;
            // max-height: 160%;
            // max-width: 270px;
            width: 15vw;
            height: 31vh;
            top: 27vh;
            left: 43vw;
        }

        .mountain-img {
            position: absolute;
            max-height: 120px;
            max-width: 125px;
            top: 67%;
            left: 47%;
        }

        .left-circle {
            position: absolute;
            height: 17vh;
            width: 8vw;
            top: 80vh;
            left: 20vh;
            background-image: linear-gradient(to right, #d23174 , #f34938);
            border-radius: 50%;
        }

        .right-circle {
            position: absolute;
            height: 15vw;
            width: 15vw;
            top: 50vh;
            right: 16vh;
            background-image: linear-gradient(to right, #97134a , #f34938);
            border-radius: 50%;
        }
    }

    .section2 {
        height: 90vh;
        width:  100%;

        .sec2-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: space-between;
            height: 90vh;
            padding-left: 10%;
            padding-right: 6%;

            .list {
                height: 90vh;
                width: 90vw;
            }

            .left-session {
                h3 {
                    font-size: 5.6vh;
                    font-family: Muli;
                    margin-bottom: 10vh;
                }
        
                p {
                    font-size: 3.2vh;
                    font-family: "Muli";
                }
            }

            .right-session {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                max-height: 80%;
                width: 80%;
            }
        }
    }

    .section3 {
        margin-top: 10vh;
        height: 222vh;
        position: relative;

        .sec3-backimg
        {
            width: 100%;
            max-height: 222vh;
            position: absolute;
        }

        .upper {

            position: absolute;
            height: 90vh;
            width: 100%;

            .sec3-heading {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
                height: 30vh;

                .list {
                    font-size: 5.6vh;
                    color: white;
                    display: flex;
                    justify-content: center;
                }

                .sec3-main-heading {
                    margin-bottom: 0vh;
                    margin-top: 7vh;
                }

                .sec3-sub-heading {
                    margin-top: 3vh;
                }
            }

            .sec3-content {
                font-family: "Muli";
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: space-between;
                height: 60vh;
                padding-left: 10%;
                padding-right: 10%;

                .sec3-img {
                    display: flex;
                    height: 60vh;
                    width: 50vw;
                    align-items: flex-start;
                    justify-content: center;

                    svg {
                        max-height: 95%;
                        width: 95%;

                        .rotate {
                            animation: rotate 5s linear infinite;
                            transform-box: fill-box;
                            transform-origin: center;
                          }

                        @keyframes rotate {
                            from { transform: rotate(0deg); }
                            to { transform: rotate(360deg); }
                          }
                    }
                }

                .sec3-text {
                    height: 60vh;
                    width: 60vw;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    padding-top: 6vh;

                    p {
                        font-size: 3.2vh;
                        color: white;
                    }
                }
            }
        }
    
        .lower {
            position: absolute;
            top: 91vh;
            height: 120vh;
            width: 100%;

            .modules {
                font-family: "Muli";
                position: absolute;
                left: 45vw;
                font-size: 185%;
                color: white;
            }

            img {
                position: absolute;
                top: 9vh;
                max-width: 47vw;
                left: 27vw;
            }
        }
    }
    .section4 {
        .sec4-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            height: 120vh;
            width: 100%;

            .heading {
                padding-top: 2vh;
                font-family: "Muli";
                font-size: 3.6vh;
                height: 10vh;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .sec4row {
                height: 55vh;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: space-between;
                padding-left: 6%;
                padding-right: 6%;
            }

            .list1 {
                .shell {
                    width: 20vw;
                }
            }

            .list2 {
                .shell {
                    width: 25vw;
                }
            }

            .list1-sub1:hover .devops {
                max-height: 16vh;
            }

            .list1-sub2:hover .inSpirit {
                max-height: 16vh;
            }

            .list1-sub3:hover .shiftLeft {
                max-height: 16vh;
            }

            .list1-sub4:hover .agile {
                max-height: 16vh;
            }

            .list2-sub1:hover .accelerate {
                max-height: 16vh;
            }

            .list2-sub2:hover .module {
                max-height: 16vh;
            }

            .list2-sub3:hover .elk {
                max-height: 16vh;
            }

            .shell {
                height: 55vh;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;

                .image {
                    display: flex;
                    justify-content: center;                 
                }

                img {
                    max-height: 15vh;
                }

                .sub-heading {
                    display: flex;
                    justify-content: center;
                    font-size: 3vh;
                    text-align: center;
                    padding-top: 3vh;
                }

                .definition {
                    font-size: 2.8vh;
                    text-align: center;
                    padding-top: 3vh;
                }
            }
        }
    }

    .section5{
        margin-top: 10vh;
        .sec5-container {
            height: 130vh;
            width: 100%;
            position: relative;

            .sec5-background {
                height: 130vh;
                width: 100%;
                position: absolute;
            }
    
            .devops {
                height: 24vh;
                width: 22vw;
                position: absolute;
                left: 37vw;
            }

            .bottom-circle {
                border-radius: 50%;
                position: absolute;
                bottom: -3vh;
                left: 4vw;
                background-image: linear-gradient(to right, #d23174, #f34938);
                height: 21vh;
                width: 11vw;
            }

            .sec5-subcontent {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
                height: 83vh;
                width: 100%;
                position: absolute;
                top: 25vh;

                .sub-list1:hover .testing {
                    font-size: 3.2vh;
                }

                .sub-list2:hover .fixing {
                    font-size: 3.2vh;
                }

                .sub-list3:hover .autoTC {
                    font-size: 3.2vh;
                }

                .sub-list4:hover .ra {
                    font-size: 3.2vh;
                }

                .heading {
                    font-family: "Muli";
                    font-size: 3.6vh;
                    height: 10vh;
                    text-align: center;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }

                .image {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: stretch;
                    align-content: stretch;
                    height: 35vh;
                    padding-left: 7%;
                    padding-right: 7%;
                    margin-top: 2vh;

                    .img-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: stretch;
                        align-content: stretch;
                        height: 35vh;
                        width: 100%;

                        img {
                            height: 35vh;
                            width: 20vw;
                        }
                    }

                    div {
                        background: aliceblue;
                        height: 35vh;
                    }
                }

                .content {
                    height: 40vh;
                    width: 100%;

                    .details {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: flex-start;
                        padding-left: 6%;
                        padding-right: 6%;
                        height: 40vh;

                        .list {
                            height: 32vh;
                            width: 20vw;

                            .sub-heading {
                                display: flex;
                                align-content: center;
                                justify-content: center;
                                color: white;
                                font-size: 3vh;
                                margin-top: 3vh;
                            }

                            .description {
                                margin-top: 3vh;
                                color: white;
                                font-size: 2.8vh;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }        
    }

    .section6 {
        .sec6-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            height: 100vh;
            width: 100%;

            .heading {
                font-family: "Muli";
                font-size: 3.6vh;
                height: 10vh;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .benifits {
                height: 75vh;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: space-between;
                padding-right: 8%;
                padding-left: 8%;

                .list {
                    height: 34vh;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                    align-content: space-between;

                    .item:hover .hoverCircle {
                        position: absolute;
                        left: -1vw;
                        top: 2vh;
                        display: block;
                    }

                    .item {
                        height: 32vh;
                        width: 18vw;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: center;

                        .sub-heading {
                            padding-top: 2vh;
                            font-size: 3vh;
                            text-align: center;
                        }

                        .image {
                            height: 20vh;
                            position: relative;
                        }

                        .hoverCircle {
                            display:none;
                        }
                    }
                }
            }

            .loadmore {
                height: 15vh;
                display: flex;
                align-items: center;
                justify-content: center;

                .button {
                    background-image: linear-gradient(to right, #d23174 , #f34938);
                    border: none;
                    color: white;
                    padding: 12px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    border-radius: 25px;
                    height: 8vh;
                    font-size: 17px;
                    font-weight: bold;
                    width: 10vw;
                }

                button:focus {
                    outline: 0 !important;
                }
            }
        }
    }

    .section7 {
        .sec7-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            height: 100vh;
            width: 100%;
        }

        .heading {
            font-family: "Muli";
            font-size: 3.6vh;
            height: 10vh;
            text-align: center;
        }

        .content {
            height: 75vh;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: space-between;
            padding-right: 8%;
            padding-left: 8%;
        }

        .send {
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .button {
                background-image: linear-gradient(to right, #d23174 , #f34938);
                border: none;
                color: white;
                padding: 12px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                border-radius: 25px;
                height: 8vh;
                font-size: 17px;
                font-weight: bold;
                width: 10vw;
            }

            button:focus {
                outline: 0 !important;
            }
        }
    }

    .section8 {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vh;
    }
}


#particles-js {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
}

#particles-js:hover {
    svg path {
        fill: url(#my-cool-gradient2) !important;
    }
}