body {
  margin: 0px;
}

#main-container .header {
  width: 100%;
  min-height: 60px;
  display: block;
  position: relative;
}
#main-container .header .left-content {
  display: inline;
  position: absolute;
}
#main-container .header .left-content img {
  max-width: 400px;
  min-height: 60px;
}
#main-container .header .right-content {
  display: inline;
  position: absolute;
  right: 30px;
  top: 15px;
}
#main-container .header .right-content .nav-items {
  display: block;
}
#main-container .header .right-content .nav-items li {
  display: inline;
  margin-left: 15px;
  font-family: roboto;
  cursor: pointer;
  font-weight: bold;
}
#main-container .section1 {
  position: relative;
  margin-top: 25px;
  height: 520px;
  width: 100%;
  background-image: linear-gradient(to right, #d23174, #f34938);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
#main-container .section1 .center-text {
  position: absolute;
  top: 6%;
  left: 28%;
  color: WHITE;
  font-size: 3em;
}
#main-container .section1 .sec1-img {
  position: absolute;
  max-height: 155px;
  max-width: 170px;
  top: 31%;
  left: 46%;
}
#main-container .section1 .mountain-img {
  position: absolute;
  max-height: 120px;
  max-width: 125px;
  top: 67%;
  left: 47%;
}
#main-container .section1 .left-circle {
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: -11px;
  left: 139px;
  background-image: linear-gradient(to right, #d23174, #f34938);
  border-radius: 50%;
}
#main-container .section1 .right-circle {
  position: absolute;
  height: 170px;
  width: 170px;
  bottom: 40px;
  right: 145px;
  background-image: linear-gradient(to right, #d23174, #f34938);
  border-radius: 50%;
}
#main-container .section2 {
  margin: 8% 5% 4% 8%;
  display: block;
  position: relative;
  height: 455px;
}
#main-container .section2 h3 {
  font-size: 33px;
  font-family: "Montserrat";
  margin-bottom: 2% !important;
}
#main-container .section2 .left-session {
  display: inline;
  position: absolute;
  max-width: 50%;
  font-family: "Montserrat";
}
#main-container .section2 .left-session p {
  font-size: 18px;
}
#main-container .section2 .right-session {
  position: absolute;
  display: inline;
  left: 60%;
  max-width: 50%;
  max-height: 50%;
  top: 0%;
}
#main-container .section2 img {
  width: 450px;
  height: 450px;
}
#main-container .section3 {
  position: relative;
  height: 654px;
}
#main-container .section3 .sec3-backimg {
  width: 100%;
  max-height: 2150px;
}
#main-container .section3 .upper .sec3-heading {
  font-size: 185%;
  color: white;
  font-family: "Montserrat";
}
#main-container .section3 .upper .sec3-heading .sec3-main-heading {
  position: absolute;
  left: 47%;
  top: 0%;
}
#main-container .section3 .upper .sec3-heading .sec3-sub-heading {
  position: absolute;
  left: 14%;
  top: 9%;
}
#main-container .section3 .upper .sec3-content {
  display: block;
  font-family: "Montserrat";
}
#main-container .section3 .upper .sec3-content .sec3-img {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 27%;
  left: 12%;
}
#main-container .section3 .upper .sec3-content .sec3-img .atom-img {
  max-width: 350px;
  max-height: 350px;
}
#main-container .section3 .upper .sec3-content .sec3-text {
  display: inline-block;
  position: absolute;
  width: 37%;
  color: white;
  top: 30%;
  font-size: 18px;
  left: 48%;
  text-align: justify;
  line-height: 150%;
}
#main-container .section3 .lower {
  position: absolute;
  top: 92%;
  height: 520px;
  width: 100%;
}
#main-container .section3 .lower .modules {
  font-family: "Montserrat";
  position: absolute;
  left: 45%;
  font-size: 185%;
  color: white;
}
#main-container .section3 .lower img {
  position: absolute;
  top: 14%;
  max-width: 650px;
  left: 26%;
}

/*# sourceMappingURL=styles.css.map */
