body {
    margin: 0px;
}

#main-container {
    
    .sub-container {
        scroll-behavior: smooth;
    }

    .section1 {
        position: relative;
        height: 118vh;
        width: 100%;

        .content {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 102vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;

            .navbar {
                position: fixed; 
                height: 10vh;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                align-content: stretch;
                width: 100%;
                z-index: 10;

                .logo {
                    display: flex;
                    align-items: center;
                    padding-left: 4vw;
                    padding-top: 3vh;

                    .title {
                        color: white;
                        padding-left: 0.5vw;
                        font-size: 2.3vh;
                        font-family: 'Exo', sans-serif;
                    }
                }

                .right-content {
                    padding-top: 1.4vh;
                    position: absolute;
                    left: 56vw;
                    width: 37vw;

                    .nav-items {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        align-content: stretch;
                        padding-top: 0.5vh;

                        li {
                            display: inline;
                            margin-left: 15px;
                            font-family: 'Quicksand', sans-serif;
                            cursor: pointer;
                            font-weight: bold;
                            
                            a {
                                color:  white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .heading {
                height: 30vh;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 8vh;
                padding-top: 4vh;
                font-family: 'Exo', sans-serif;
            }

            .icon {
                height: 67vh;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                img {
                    min-height: 70vh;
                }
            }
        }

        .left-circle {
            position: absolute;
            height: 14vh;
            width: 7vw;
            top: 105vh;
            left: 25vh;
            background-image: linear-gradient(to right, #d23174, #f34938);
            border-radius: 50%;
        }

        .right-circle {
            position: absolute;
            height: 15vw;
            width: 15vw;
            top: 80vh;
            right: 16vh;
            background-image: linear-gradient(to right, #97134a, #f34938);
            border-radius: 50%;
        }
    }

    .section2 {
        height: 90vh;
        width:  100%;

        .sec2-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: space-between;
            height: 90vh;
            padding-left: 10%;
            padding-right: 6%;

            .list {
                height: 90vh;
                width: 90vw;
                font-family: 'Exo', sans-serif;
            }

            .left-session {
                h3 {
                    font-size: 5.6vh;
                    font-family: Muli;
                    margin-bottom: 10vh;
                }

                // ul li::before {
                //     content: "\2022";
                //     color: #f34938;
                //     font-weight: bold;
                //     display: inline-block; 
                //     width: 1em;
                //     margin-left: -1em;
                //   }
        
                ul {
                    padding-left: 1.3vw;
                    font-size: 3vh;
                    list-style: square outside linear-gradient(to right, #d23174, #f34938);

                    li {
                        font-family: 'Quicksand', sans-serif;
                        padding-left: 0.5vw;
                        padding-bottom: 2vh;
                    }
                }
            }

            .right-session {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                max-height: 80%;
                width: 80%;
            }
        }
    }

    .section3 {
        margin-top: 10vh;
        height: 222vh;
        position: relative;

        .sec3-backimg
        {
            width: 100%;
            max-height: 222vh;
            position: absolute;
        }

        .upper {

            position: absolute;
            height: 90vh;
            width: 100%;

            .sec3-heading {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
                height: 30vh;
                font-family: 'Exo', sans-serif;

                .list {
                    font-size: 5.6vh;
                    color: white;
                    display: flex;
                    justify-content: center;
                }

                .sec3-main-heading {
                    margin-bottom: 0vh;
                    margin-top: 7vh;
                }

                .sec3-sub-heading {
                    margin-top: 3vh;
                }
            }

            .sec3-content {
                font-family: 'Quicksand', sans-serif;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: space-between;
                height: 60vh;
                padding-left: 10%;
                padding-right: 10%;

                .sec3-img {
                    display: flex;
                    height: 60vh;
                    width: 50vw;
                    align-items: flex-start;
                    justify-content: center;

                    svg {
                        max-height: 95%;
                        width: 95%;

                        .rotate {
                            animation: rotate 5s linear infinite;
                            transform-box: fill-box;
                            transform-origin: center;
                          }

                        @keyframes rotate {
                            from { transform: rotate(0deg); }
                            to { transform: rotate(360deg); }
                          }
                    }
                }

                .sec3-text {
                    height: 60vh;
                    width: 60vw;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    padding-top: 6vh;

                    p {
                        font-size: 3.2vh;
                        color: white;
                    }
                }
            }
        }
    
        .lower {
            position: absolute;
            top: 91vh;
            height: 120vh;
            width: 100%;

            .modules {
                font-family: 'Exo', sans-serif;
                position: absolute;
                left: 45vw;
                font-size: 185%;
                color: white;
            }

            img {
                position: absolute;
                top: 9vh;
                max-width: 47vw;
                left: 27vw;
            }
        }
    }
    .section4 {
        .sec4-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            height: 120vh;
            width: 100%;

            .heading {
                padding-top: 2vh;
                font-family: 'Exo', sans-serif;
                font-size: 3.6vh;
                height: 10vh;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .sec4row {
                height: 53vh;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: space-between;
                padding-left: 6%;
                padding-right: 6%;
            }

            .list1 {
                .shell {
                    width: 20vw;
                }
            }

            .list2 {
                .shell {
                    width: 25vw;
                }
            }

            .list1-sub1:hover .devops {
                max-height: 15vh;
            }

            .list1-sub2:hover .inSpirit {
                max-height: 15vh;
            }

            .list1-sub3:hover .shiftLeft {
                max-height: 15vh;
            }

            .list1-sub4:hover .agile {
                max-height: 15vh;
            }

            .list2-sub1:hover .accelerate {
                max-height: 15vh;
            }

            .list2-sub2:hover .module {
                max-height: 15vh;
            }

            .list2-sub3:hover .elk {
                max-height: 15vh;
            }

            .shell {
                height: 53vh;
                position: relative;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;

                .image {
                    display: flex;
                    justify-content: center;                 
                }

                img {
                    max-height: 14vh;
                }

                .sub-heading {
                    font-family: 'Exo', sans-serif;
                    display: flex;
                    justify-content: center;
                    font-size: 3vh;
                    text-align: center;
                    padding-top: 3vh;
                }

                .definition {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 2.4vh;
                    text-align: center;
                    padding-top: 3vh;
                    padding-right: 1vw;
                    padding-left: 1vw;
                }
            }
        }
    }

    .section5{
        margin-top: 10vh;
        .sec5-container {
            height: 130vh;
            width: 100%;
            position: relative;

            .sec5-background {
                height: 130vh;
                width: 100%;
                position: absolute;
            }
    
            .devops {
                height: 24vh;
                width: 22vw;
                position: absolute;
                left: 37vw;
            }

            .bottom-circle {
                border-radius: 50%;
                position: absolute;
                bottom: -3vh;
                left: 4vw;
                background-image: linear-gradient(to right, #d23174, #f34938);
                height: 21vh;
                width: 11vw;
            }

            .sec5-subcontent {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
                height: 83vh;
                width: 100%;
                position: absolute;
                top: 25vh;

                .sub-list1:hover .testing {
                    font-size: 3vh;
                }

                .sub-list2:hover .fixing {
                    font-size: 3vh;
                }

                .sub-list3:hover .autoTC {
                    font-size: 3vh;
                }

                .sub-list4:hover .ra {
                    font-size: 3vh;
                }

                .heading {
                    font-family: 'Exo', sans-serif;
                    font-size: 3.6vh;
                    height: 10vh;
                    text-align: center;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }

                .image {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: stretch;
                    align-content: stretch;
                    height: 35vh;
                    padding-left: 7%;
                    padding-right: 7%;
                    margin-top: 2vh;

                    .img-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: stretch;
                        align-content: stretch;
                        height: 35vh;
                        width: 100%;

                        img {
                            height: 35vh;
                            width: 20vw;
                        }
                    }

                    div {
                        background: aliceblue;
                        height: 35vh;
                    }
                }

                .content {
                    height: 40vh;
                    width: 100%;

                    .details {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: flex-start;
                        padding-left: 6%;
                        padding-right: 6%;
                        height: 40vh;

                        .list {
                            height: 32vh;
                            width: 20vw;

                            .sub-heading {
                                display: flex;
                                align-content: center;
                                justify-content: center;
                                color: white;
                                font-size: 2.5vh;
                                margin-top: 3vh;
                                font-family: 'Exo', sans-serif;
                            }

                            .description {
                                margin-top: 3vh;
                                color: white;
                                font-size: 2.3vh;
                                text-align: center;
                                font-family: 'Quicksand', sans-serif;
                            }
                        }
                    }
                }
            }
        }        
    }

    .section6 {
        .sec6-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            height: 100vh;
            width: 100%;

            .heading {
                font-family: 'Exo', sans-serif;
                font-size: 3.6vh;
                height: 10vh;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .benifits {
                height: 75vh;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: center;
                align-content: space-between;
                padding-right: 8%;
                padding-left: 8%;

                .list {
                    height: 34vh;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    align-items: center;
                    align-content: space-between;

                    .item:hover .hoverCircle {
                        position: absolute;
                        left: -1vw;
                        top: 2vh;
                        display: block;
                    }

                    .item {
                        height: 32vh;
                        width: 18vw;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: center;

                        .sub-heading {
                            padding-top: 2vh;
                            font-size: 3vh;
                            text-align: center;
                            font-family: 'Exo', sans-serif;
                        }

                        .image {
                            height: 20vh;
                            position: relative;
                        }

                        .hoverCircle {
                            display:none;
                        }
                    }
                }
            }

            .loadmore {
                height: 15vh;
                display: flex;
                align-items: center;
                justify-content: center;

                .button {
                    background-image: linear-gradient(to right, #d23174 , #f34938);
                    border: none;
                    color: white;
                    padding: 12px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    border-radius: 25px;
                    height: 8vh;
                    font-size: 17px;
                    font-weight: bold;
                    width: 10vw;
                }

                button:focus {
                    outline: 0 !important;
                }
            }
        }
    }

    .section7 {
        height: 115vh;
        img {
            height: 115vh;
        }

        .sec7-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            height: 115vh;
            width: 100%;
            position: absolute;
        }

        .sec7-content {
            position: absolute;
            height: 115vh;
            width : 100%;
        }

        .heading {
            font-family: 'Exo', sans-serif;
            font-size: 3.6vh;
            height: 20vh;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            h3 {
                margin: 0;
                color: white;
            }
        }

        .content {
            height: 80vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            align-content: space-between;
            padding-right: 8%;
            padding-left: 3%;

            .left-session {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 80vh;
                width:  47vw;
            }

            .right-session {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-around;
                align-content: space-between;
                height: 67vh;
                width:  50vw;
                margin-top: 2vh;
                margin-left: 2vw;

                .form {
                    width: 100%;
                }

                input {
                    width: 89%;
                    height: 7vh;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    background: white;
                }

                textarea {
                    width: 89%;
                    height: 17vh;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    background: white;
                }
            }

            img {
                max-height: 65vh;
            }
        }

        .send {
            height: 12vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            .button {
                padding: 0;
                background-image: linear-gradient(to right, #d23174 , #f34938);
                border: none;
                color: white;
                padding: 12px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                border-radius: 25px;
                height: 8vh;
                font-size: 17px;
                font-weight: bold;
                width: 10vw;
            }

            button:focus {
                outline: 0 !important;
            }
        }
    }

    .section8 {
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vh;
        font-family: 'Quicksand', sans-serif;
    }
}


#particles-js {
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 10vh;
}

#particles-js:hover {
    svg path {
        fill: url(#my-cool-gradient2) !important;
    }
}